<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

    <title>Status</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:href="@{/}">Dream Travel and Tours Ltd</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/status}">Status</a>
            </li>
            <li class="nav-item nav-right" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="#" th:href="@{/logout}">Logout</a></li>
            </li>
        </ul>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Post</h1>
            <form th:action="@{/status}" th:object="${status}" method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('message')}? 'has-error':''">
                    <label for="message" class="control-label">Message</label> <input
                        id="message" class="form-control" th:field="*{message}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('message')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('locationName')}? 'has-error':''">
                    <select th:field="*{locationName}" th:errorclass="is-invalid" class="form-control selectpicker"
                    >
                        <option th:each="location : ${locations}"
                                th:value="${location.name}"
                                th:text="${location.name}">
                        </option>
                    </select>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('locationName')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('visibilityScope')}? 'has-error':''">
                    <select th:field="*{visibilityScope}" th:errorclass="is-invalid" class="form-control selectpicker"
                    >
                        <option th:each="scop : ${visibilityScopes}"
                                th:value="${scop.name()}"
                                th:text="${scop.name()}">
                        </option>
                    </select>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('visibilityScope')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</body>
</html>